<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lastFed</key>
		<date>1970-01-01T00:00:00Z</date>
		<key>time</key>
		<integer>43200</integer>
	</dict>
</array>
</plist>
